  <header id="topnav">
   <div class="erasable-header">
    <div class="container">
     <div class="row">
      <div class="one column">
       <a class="home" href="https://ergon.moe/index.html"> 
ארגון
</a>
      </div>
      <div class="eight columns topnav-a right">
      {% for item in nav %}
       <a {{item.href}}>{{item.caption}}</a>
      {% endfor %}
      </div>
     </div>
    </div>
   </div>
   <div class="bg-cover">
   </div>
   <a class="hamburger-shell">
    <div class="hamb top">
    </div>
    <div class="hamb middle">
    </div>
    <div class="menu-name">תַפרִיט</div>
   </a>
   <ul id="menu">
    <a class="hamburger-shell"></a>
    <a href="https://ergon.moe/index.html"><li>דף הבית</li></a>
    {% for item in nav2 %}
    <a {{item.href}}><li>{{item.caption}}</li></a>
    {% endfor %}
   </ul>
  </header>


