<!DOCTYPE html>
<html lang="en">
 <head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
  <meta content="no-cache" http-equiv="Cache-control"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8"/>
  <title>
  {% block title %}
   Ergon - Stable p2p Electronic Cash
  {% endblock %}
  </title>
  <meta content="Ergon (XRG) is a Bitcoin-like cryptocurrency with proportional block reward that aims to become the currency for the world" name="description"/>
  <meta content="Licho" name="author"/>
  <meta content="cryptocurrency, currency, bitcoin, stable, ergon, xrg, p2p, cash, payment, volatility" name="keywords"/>
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block staticfiles %}
  <link href="css/normalize.css" rel="stylesheet"/>
  <link href="css/skeleton.css" rel="stylesheet"/>
  <link href="css/main.css" rel="stylesheet"/>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="images/icon.png" rel="icon" type="image/png"/>
  <script src="main.js" type="text/javascript">
  {% endblock %}
  </script>
 </head>
 <body id="body">
 {% block navigation %}
 {% endblock %}
 {% block content %}
 {% endblock %}
 {% block footer%}
 {% include '_footer.html' %}
 {% endblock %}
 </body>
</html>
